@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  line-height: 1.5;
  font-weight: 400;
  font-family: "Source Sans Pro", Arial, sans-serif;
  color-scheme: light dark;
  color: #000;
  background-color: #fff;
  overflow-x: hidden;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: rgb(222, 35, 51);
  text-transform: uppercase;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.centrado {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.texto-centrado {
  text-align: center;
}

.small {
  font-size: 0.8rem;
}

.enlace-texto:hover,
.enlace-titular:hover,
.enlace-leer-mas:hover {
  color: rgb(0, 0, 0);
  text-decoration: underline;
  cursor: pointer;
}

/* ----------- Menu ------------ */
header {
  position: sticky;
  top: -80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  background-color: #fff;
  padding: 1rem 0 2rem 0;
  box-shadow: 0px 4px 10px rgb(184 184 184 / 20%);
}

header > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  margin-bottom: 1rem;
  font-size: 45px;
  text-decoration: none;
  color: #333;
  letter-spacing: -5px;
  word-spacing: -1px;
  text-transform: none;
}

.logo > span {
  font-weight: bold;
  letter-spacing: 0px;
  word-spacing: 0px;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu li {
  font-weight: bold;
  text-transform: uppercase;
}

.menu a {
  text-decoration: none;
  color: #333;
}

.menu a:hover,
.logo:hover {
  color: rgba(0, 0, 0, 0.5);
}

.menu .destacado,
.destacado {
  color: rgb(222, 35, 51);
}

/* ------------------------------ */

/* ----------- Footer ------------ */
footer {
  background-color: #000;
  color: white;
  padding: 3rem 0 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-footer li a {
  text-transform: none;
  color: white;
}

.redes-sociales {
  padding: 1rem 0;
  display: flex;
  gap: 1rem;
}

footer > div > p {
  margin: 0;
  font-size: 0.9rem;
}

.menu-footer a:hover {
  color: rgb(222, 35, 51);
}

.redes-sociales a:hover {
  opacity: 0.7;
}

/* ------------------------------ */

/* ----------- Index ------------ */
.container-imagen-hero {
  position: relative;
  width: 100%;
}
.imagen-hero {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}
.texto-imagen-hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 1.7rem;
  width: 100%;
}

.que-es-ia {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.que-es-ia > * {
  max-width: 35rem;
}

.al-dia {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

.container-noticias {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.container-noticias img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-noticias h3 {
  color: rgb(222, 35, 51);
}

.container-noticias figcaption a {
  font-size: 0.8rem;
  font-weight: bold;
}
.container-noticias figcaption a > span {
  padding-right: 0.5rem;
  font-weight: 400;
}

/* ------------------------------- */

/* ---------- Aplicaciones ----------- */

.container-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin: 1rem 0 3rem 0;
  justify-items: center;
}

.tarjeta {
  background-color: rgb(244, 246, 247);
  padding: 0.5rem 2rem;
  max-width: 15rem;
}
.tarjeta > a {
  font-size: 0.8rem;
  font-weight: bold;
}
.tarjeta > p > a {
  text-transform: none;
}

.titulo-principal {
  padding: 0 1rem;
  font-size: 1.7rem;
}

/* ----------------------- */

/* ---------- Cine ----------- */

.tarjeta-cine {
  padding: 0;
  max-width: 95vw;
  width: 100%;
}
.tarjeta-cine > p {
  padding: 0 1rem;
}

/* ----------------------- */

/* ---------- Despacho ----------- */
.container-despacho {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-despacho section {
  width: 100%;
}

.container-despacho h1 {
  font-size: 2rem;
}

.container-despacho a {
  text-transform: none;
  font-weight: 700;
}

.container-despacho figure {
  margin: 0;
}

.breadcrumbs {
  margin: 2rem 0 3rem 0;
  display: flex;
  gap: 0.8rem;
}

.breadcrumbs a {
  color: #000;
  font-weight: 400;
}

.container-despacho .tarjeta {
  max-width: none;
}

.isologo {
  border-radius: 20%;
  width: 6rem;
  height: 6rem;
  margin-top: 1rem;
}

.enlaces-episodio-23 {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.enlaces-episodio-23 > a,
.container-despacho form a {
  font-weight: 400;
}

.titulo-despacho {
  font-size: 2rem;
  margin: 1rem 0;
}

.container-despacho form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}
.container-despacho form > div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container-despacho form > div > input {
  border: none;
  background-color: rgb(244, 246, 247);
  height: 3rem;
}

.container-despacho form > div > textarea {
  border: none;
  background-color: rgb(244, 246, 247);
  height: 10rem;
}

.container-despacho form > button {
  background-color: rgb(222, 35, 51);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
}

.seccion-art-reciente {
  margin-bottom: 2rem;
}

.tarjeta-art-reciente {
  display: flex;
  align-items: start;
  gap: 1rem;
  border-bottom: 1px dotted black;
  padding: 1rem 0;
}
.tarjeta-art-reciente > img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.tarjeta-art-reciente > div {
  display: flex;
  justify-content: start;
  flex-direction: column;
}

.titulo-art-recient {
  font-weight: 700;
  text-transform: uppercase;
}

.tarjeta-art-reciente p {
  margin: 0;
}

/* ----------------------- */

@media (min-width: 768px) {
  .container-noticias {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0;
  }

  .container-grid {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .texto-imagen-hero {
    font-size: 2.5rem;
  }

  .container-cine {
    grid-template-columns: 1fr;
  }

  .container-despacho {
    padding: 3rem;
  }

  .que-es-despacho > div.tarjeta {
    display: flex;
    gap: 2rem;
  }

  .seccion-art-reciente {
    max-width: 30rem;
  }
}

@media (min-width: 992px) {
  footer > div,
  header > div {
    display: flex;
    flex-direction: column;
    padding-left: 5rem;

    align-items: start;
    max-width: 65rem;
    width: calc(100% - 5rem);
  }

  .al-dia,
  .container-noticias {
    max-width: 65rem;
  }

  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container-main {
    max-width: 60rem;
  }

  .menu-footer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  .menu-footer > li::before {
    content: "\2022";
    color: white;
    display: inline-block;
    width: 1rem;
    text-align: center;
    font-size: 0.8rem;
    margin-right: 1rem;
  }
  .menu-footer > li:first-child::before {
    content: none;
  }

  .menu {
    justify-content: flex-start;
    flex-direction: row;
    gap: 1.5rem;
  }
  .texto-imagen-hero {
    font-size: 3rem;
  }

  .imagen-hero {
    height: 25rem;
  }

  .container-grid {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
  }

  .container-cine {
    grid-template-columns: 1fr 1fr;
  }

  .container-despacho {
    flex-direction: row;
    align-items: start;
    gap: 4rem;
  }

  .seccion-art-reciente {
    min-width: 22rem;
  }

  .container-despacho {
    max-width: 75rem;
  }

  footer > div.footer-despacho,
  header > div.header-despacho {
    max-width: 80rem;
  }
}
